<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Selenium testing for the J2EE platform</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.cloneworkspace.CloneWorkspaceSCM" plugin="clone-workspace-scm@0.6">
    <parentJobName>F-Spot_Cloud_b4_gwt_compilation</parentJobName>
    <criteria>Any</criteria>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd j2ee-e2e &amp;&amp; /usr/local/gradle-2.2/bin/gradle clean \
&amp;&amp; /usr/local/gradle-2.2/bin/gradle -Pall_tests=true -Ptest_pause_time=2500 -Prelease=true -x :client:compileGwt build</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.cloneworkspace.CloneWorkspacePublisher plugin="clone-workspace-scm@0.6">
      <workspaceGlob></workspaceGlob>
      <criteria>Successful</criteria>
      <archiveMethod>TAR</archiveMethod>
      <overrideDefaultExcludes>false</overrideDefaultExcludes>
    </hudson.plugins.cloneworkspace.CloneWorkspacePublisher>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.5">
      <testResults>j2ee-e2e/build/test-results/fspot/*.xml, j2ee-e2e/build/test-results/shotwell/*.xml</testResults>
      <keepLongStdio>true</keepLongStdio>
      <healthScaleFactor>1.0</healthScaleFactor>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>F-Spot_Cloud_e1_installer_j2ee</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>