<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Compilation only</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.mercurial.MercurialSCM" plugin="mercurial@1.44">
    <source>https://code.google.com/p/fspotcloud.javasrc/</source>
    <modules></modules>
    <branch>experimental</branch>
    <clean>false</clean>
    <browser class="hudson.plugins.mercurial.browser.HgWeb">
      <url>https://code.google.com/p/fspotcloud.javasrc/</url>
    </browser>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/5 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.gradle.Gradle plugin="gradle@1.21">
      <description></description>
      <switches>-x :client:compileGwt -x :keyboard-action:compileGwt</switches>
      <tasks>clean compileJava compileTestJava peer:assemble</tasks>
      <rootBuildScriptDir></rootBuildScriptDir>
      <buildFile></buildFile>
      <gradleName>Gradle 1.1</gradleName>
      <useWrapper>false</useWrapper>
      <makeExecutable>false</makeExecutable>
      <fromRootBuildScriptDir>false</fromRootBuildScriptDir>
    </hudson.plugins.gradle.Gradle>
  </builders>
  <publishers>
    <hudson.plugins.cloneworkspace.CloneWorkspacePublisher plugin="clone-workspace-scm@0.5">
      <workspaceGlob></workspaceGlob>
      <criteria>Successful</criteria>
      <archiveMethod>TAR</archiveMethod>
      <overrideDefaultExcludes>false</overrideDefaultExcludes>
    </hudson.plugins.cloneworkspace.CloneWorkspacePublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>F-Spot_Cloud_b1_unit_testing, F-Spot_Cloud_b4_gwt_compilation, F-Spot_Cloud_b2_unit_test_coverage, F-Spot_Cloud_b3_static_analysis</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>